.admin-drawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.admin-drawer > a {
    display: flex;
    text-decoration: none;
    color: #1F2232;
    width: 90%;
    justify-content: center;
}

.admin-drawer-item:hover, .admin-drawer-item-active {
    background-color: rgb(13, 152, 186, 0.7);
    border-radius: 6px;
}

.admin-drawer-item {
    font-size: large;
    padding: 20px 4px;
    margin: 2px 0px;
    width: 100%;
    text-align: center;
}

.admin-drawer-header {
    border-top: 2px solid #1f2232;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    font-size: larger;
    padding-top: 10px;
    margin-top: 20px;
}

.admin-content {
    margin: 20px;
    color: #1f2232;
}