.login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(250px, 80%, 900px);
}

.login-form-div {
    width: clamp(220px, 50%, 400px);
}

.login-button {
    height: 50px;
    width: 220px;
    border: 0;
    margin-top: 10px;
}

a.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button:hover {
    background-color: #0D98BA;
    cursor: pointer;
}

input:focus {
    border-color: var(--bs-border-color);
    box-shadow: none;
}

.login-label {
    font-size: larger;
    text-align: left;
    width: 100%;
    display: block;
    margin-top: 20px;
}