<div *ngIf="seriesData">
    <h2 class="page-title series-title">{{ seriesData.name }} ({{seriesData.format | bookFormat }})</h2>
    <div class="row mobile-format">
        <aside class="col-lg-3">
            <h5>Release Summaries</h5>
            <div role="tablist">
                <ul class="nav nav-tabs">
                    <li *ngFor="let summary of formatSummaries; let i = index;">
                        <a class="nav-link" [ngClass]="{ active: isActiveTab(i) }" (click)="updateFocus(i)"
                            [attr.aria-current]="{ page: isActiveTab(i)}">{{ summary.formatName | titlecase }}</a>
                    </li>
                </ul>
                <div class="format-summary">
                    <div class="format-summary-item">
                        <p style="font-style: italic;">Number of Volumes &nbsp;</p>
                        <p>{{ formatSummaries[focusedSummary].volumeCount }}</p>
                    </div>
                    <div class="format-summary-item flex-column">
                        <h6>First Release</h6>
                        <a href="{{formatSummaries[focusedSummary].firstEntry.isbn}}">
                            {{formatSummaries[focusedSummary].firstEntry.title}}
                        </a>
                        <p>Released On {{formatSummaries[focusedSummary].firstEntry.releaseDate | DateReadable }}</p>
                    </div>
                    <div class="format-summary-item flex-column">
                        <h6>Latest Release</h6>
                        <a href="{{formatSummaries[focusedSummary].latestEntry.isbn}}">
                            {{formatSummaries[focusedSummary].latestEntry.title}}
                        </a>
                        <p>Released On {{formatSummaries[focusedSummary].latestEntry.releaseDate | DateReadable }}</p>
                    </div>
                </div>
            </div>
            <h5>External Links</h5>
            <div class="series-links">
                <a *ngIf="seriesData.anilist_id" class="myneworm-btn btn btn-lg" target="_blank"
                    [href]="'https://anilist.co/manga/' + seriesData.anilist_id | sanitizeURL">AniList</a>
                <a *ngIf="seriesData.mal_id" class="myneworm-btn btn btn-lg" target="_blank"
                    [href]="'https://myanimelist.net/manga/' + seriesData.mal_id | sanitizeURL">MyAnimeList</a>
                <p *ngIf="!seriesData.anilist_id && !seriesData.mal_id" style="text-align: center;">No external links</p>
            </div>
        </aside>
        <div class="col-lg-9">
            <div>
                <p>{{ seriesData.description}}</p>
            </div>
            <book-carousel title="Ebook" carouselIndex='1' [books]="this.seriesCollection.ebook"></book-carousel>
            <br>
            <book-carousel title="Paperback" carouselIndex='2' [books]="this.seriesCollection.paperback"></book-carousel>
            <br>
            <book-carousel title="Hardcover" carouselIndex='3' [books]="this.seriesCollection.hardcover"></book-carousel>
            <br>
            <book-carousel title="Audiobook" carouselIndex='4' [books]="this.seriesCollection.audiobook"></book-carousel>
        </div>
    </div>
</div>