.toast-wrapper {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.toast-text-white {
    color: #ECEBF3 !important;
}

.toast-text-black {
    color: #1F2232 !important;
}

.toast {
    display: block;
}

.d-flex {
    padding: 4px;
    font-size: medium;
}