<div *ngIf="listEntries.length > 0">
    <h3>{{tableName}}</h3>
    <table mat-table matSort [dataSource]="listEntries" multiTemplateDataRows (matSortChange)="sortData($event)">
        <ng-container matColumnDef="cover">
            <th mat-header-cell *matHeaderCellDef scope="col" [attr.role]="null"></th>
            <td mat-cell *matCellDef="let element" class="row-padding col-1">
                <div class="cover-wrapper">
                    <img class="table-img" src='{{getThumbnail(element.isbn)}}' alt='Cover for {{element.title}}' loading="lazy" />
                    <img class="hover-preview" src='{{getPreview(element.isbn)}}' alt='' loading="lazy"/>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="title">
            <th mat-header-cell mat-sort-header="title" *matHeaderCellDef scope="col" [attr.role]="null">Title</th>
            <td mat-cell *matCellDef="let element" class="col-4-half">
                <span><strong><a routerLink="/book/{{element.isbn}}"
                            class="list-title-link">{{element.title}}</a></strong></span>
            </td>
        </ng-container>
        <ng-container matColumnDef="score">
            <th mat-header-cell mat-sort-header="score" *matHeaderCellDef scope="col" [attr.role]="null"
                class="align-center">Score</th>
            <td mat-cell *matCellDef="let element" class="align-center col-1">
                <span *ngIf="element.score > 0">{{element.score}}</span>
                <span *ngIf="element.score === 0">-</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="reread">
            <th mat-header-cell mat-sort-header="reread" *matHeaderCellDef scope="col" [attr.role]="null"
                class="align-center">Reread</th>
            <td mat-cell *matCellDef="let element" class="align-center col-1">
                <span *ngIf="element.reread > 0">{{element.reread}}</span>
                <span *ngIf="element.reread === 0">-</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef scope="col" [attr.role]="null" class="align-center">Ownership
            </th>
            <td mat-cell *matCellDef="let element" class="align-center col-1">
                <span>{{formatOwnerStatus(element.owner_status)}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="bookType">
            <th mat-header-cell *matHeaderCellDef scope="col" [attr.role]="null" class="align-center">Book Type
            </th>
            <td mat-cell *matCellDef="let element" class="align-center col-1">
                <span class="captialize-text">{{element.book_type_name}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="more">
            <th mat-header-cell *matHeaderCellDef scope="col" [attr.role]="null"></th>
            <td mat-cell *matCellDef="let element" class="col-1-half">
                <div class="more-col">
                    <button *ngIf="isAuthUser" class="btn myneworm-btn" (click)="updateListEntry(element.isbn, element.title)">Edit</button>
                    <button *ngIf="hasExpandedDetails(element)" class="btn myneworm-btn more-btn"
                        (click)="expandedDetails(element)"><span>...</span></button>
                </div>                
            </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="additional-details">
                    <div *ngIf="element.start_date" class="additional-details-cell">
                        <p><strong>Start Date</strong> {{formatDateString(element.start_date)}}</p>
                    </div>
                    <div *ngIf="element.end_date" class="additional-details-cell">
                        <p><strong>Finish Date</strong> {{formatDateString(element.end_date)}}</p>
                    </div>
                    <div *ngIf="element.notes" class="additional-details-cell">
                        <p><strong>Notes</strong> {{element.notes}}</p>
                    </div>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" [attr.role]="null"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
            [ngClass]="row.isExpanded ? 'expanded' : 'collapsed'"></tr>
    </table>
</div>