<div class="guidelines-component">
    <h1>Database Guidelines</h1>
    <p>
        These guidelines are made to serve as a general reference point for Myneworm Moderators and users alike to know
        which books qualify for submission and what changes would be approved/denied. Following the criteria provided
        helps
        keep the approval process fast and up-to-date. However, Myneworm Moderators have the right to make the final
        decision
        in possible gray areas.
    </p>
    <p>
        Likewise, this guidelines are ever-changing, thus some requirements may become stricter or looser as times
        change. To submit
        a correction, <s>you can access the data correction form here</s> (Currently, the system to accept corrections
        is not availiable.
        Please reach out to a Myneworm moderator on our Discord or email us at <a
            href="mailto:myneworm@katsurin.com">myneworm&#64;katsurin.com</a> with information).
    </p>
    <section class="guideline-section" id="definitions">
        <h3>Defining Formats</h3>
        <p>We track a lot of books which comes with a lot of formats and there are a variety of ways to define them.
            The definitions below are the general guidelines from what makes a book a manga and not a fanbook or vice
            versa.
        </p>
        <section id="manga">
            <h4>What is a Manga</h4>
            <ul>
                <li>
                    <p>Manga are comics created in Japan for the Japanese market</p>
                    <ul>
                        <li>
                            <p>Similarly, Manhwa (South Korean) and Manhua (Chinese, Hong Kong, Taiwan) also apply if
                                they are made for their respective markets</p>
                        </li>
                        <li>
                            <p>Manhwa from North Korea will not be accepted.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Is licensed by a publisher in their respective markets. Self-publications are not considered
                        publisher licensed.</p>
                </li>
                <li>
                    <p>Distributed either through a physical or digital release</p>
                    <ul>
                        <li>
                            <p>A physical release covers book types like traditional paperback and hardcover</p>
                        </li>
                        <li>
                            <p>Digital releases covers book types like ebooks and audiobooks</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <section id="lightNovel">
            <h4>What is a Light Novel</h4>
            <ul>
                <li>
                    <p>Novels that are created in Japan/Korea/China for their respective markets</p>
                </li>
                <li>
                    <p>Is licensed by a publisher in their respective markets.</p>
                    <ul>
                        <li>
                            <p>Self-publications are not considered publisher licensed</p>
                        </li>
                        <li>
                            <p>Series must be published under a recognized light novel label</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Distributed either through a physical or digital release</p>
                    <ul>
                        <li>
                            <p>A physical release covers book types like traditional paperback and hardcover</p>
                        </li>
                        <li>
                            <p>Digital releases covers book types like ebooks and audiobooks</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <section id="lightNovel">
            <h4>What is a Fanbook</h4>
            <ul>
                <li>
                    <p>Fanbooks are extra books released in addition to series and contain several elements one would
                        not find in a traditional book.</p>
                    <ul>
                        <li>
                            <p>Fanbooks are often marked by having "Fanbook" in the title. But not having that
                                descriptor can still make a book a fanbook.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Fanbook must have at least a combination of these elements:</p>
                    <ul>
                        <li>
                            <p>Art illustrations and/or sketches</p>
                        </li>
                        <li>
                            <p>Q&As from the author, illustrator, or other creative staff</p>
                        </li>
                        <li>
                            <p>Story and/or world details such as timelines and background information not present in
                                the stories</p>
                        </li>
                        <li>
                            <p>Bonus manga and/or stories not relevant to the plot</p>
                            <ul>
                                <li>
                                    <p>Side stories and .5 volumes, while being bonus stories, have some relevance to
                                        the plot itself
                                        and therefore do not meet this requirement. They would be classified based on
                                        their layout and contents
                                        (ie: manga or light novel)</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Is officially licensed by a publisher in their respective markets. Self-publications or
                        fanzines/zines are not considered
                        publisher or officially licensed.</p>
                </li>
                <li>
                    <p>Distributed either through a physical or digital release</p>
                    <ul>
                        <li>
                            <p>A physical release covers book types like traditional paperback and hardcover</p>
                        </li>
                        <li>
                            <p>Digital releases covers book types like ebooks and audiobooks</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </section>
    <section class="guideline-section" id="additionalBooks">
        <h3>Additional Books We Track</h3>
        <p>
            While we focus on manga and light novels, we also track various additional books which can be considered
            apart of a series' collection.
        </p>
        <ul>
            <li>
                <p>Books containing a collection of short stories from an existing series within Myneworm
                    (ie: .5 volumes, volumes marked as side stories)</p>
            </li>
            <li>
                <p>Fanbooks for existing series within Myneworm</p>
            </li>
            <li>
                <p>Books that do not meet previous guidelines but have a verifiable anime adaptation and are published
                    in 1980 or beyond (ie: Shinsekai Yori or Another)</p>
            </li>
        </ul>
    </section>
    <section class="guideline-section" id="formInformation">
        <h3>Information within a Myneworm Entry</h3>
        <section id="isbn">
            <h4>ISBN Numbers</h4>
            <p>All entries must have an ISBN-13 number as they are used as IDs across Myneworm.</p>
            <ul>
                <li>
                    <p>Digital books might have this listed as an E-ISBN. E-ISBN numbers are generally ISBN-13.</p>
                </li>
                <li>
                    <p>Reissues, reprints, and deluxe editions are accepted as seperate entries, provided their
                        ISBN-13 numbers are different from the original editions</p>
                </li>
            </ul>
        </section>
        <section id="title">
            <h4>Titles</h4>
            <ul>
                <li>
                    <p>The entry must use the English title and should contain a volume number and/or
                        other identifying pieces</p>
                    <ul>
                        <li>
                            <p>
                                Any identifying information that is handled by other values should not be included in
                                the title.
                                (ie: manga, light novel, hardcover, ebook, etc...)
                            </p>
                            <ul>
                                <li>
                                    <p>The only exceptions are fanbook entries which keep "Fanbook" as apart of their
                                        title.</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p>Labels should be added in cases like exclusive editions and omnibuses if they are not
                                already included.</p>
                            <ul>
                                <li>
                                    <p>For example: Robotics;Notes Volume 1 [original title] should be labeled as
                                        Robotics;Notes Omnibus Volume 1 (Barnes & Noble Exclusive Edition) [Myneworm
                                        title] since it combines Volume 1
                                        and Volume 2 plus is an edition exclusive to Barnes & Noble.</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p>Shorthand usage for words like "Volume" is possible as long as it is consistant with
                                other series entries.
                                If shorthand is used, it must be a common abbriviation. Generally, Myneworm uses "Vol."
                                or "Volume".
                            </p>
                        </li>
                        <li>
                            <p>Volume numbers should be at the end of the title. For example: The Ancient Magus Bride,
                                Volume 4</p>
                            <ul>
                                <li>
                                    <p>Alternatively, if there are seperate parts or published chapters, those are
                                        defined similiarly in the title.
                                        Often, the title matches what the publishers have on their sites.</p>
                                </li>
                                <li>
                                    <p>Examples: Ascendance of a Bookworm: Part 1 Volume 1 or Re:ZERO
                                        -Starting Life in Another World-, Chapter 4: The Sanctuary and the Witch of
                                        Greed, Vol.
                                        5</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <section id="miscInfo">
            <h4>Miscellaneous</h4>
            <ul>
                <li>
                    <p>The entry must be an English translation from a publisher entity</p>
                    <ul>
                        <li>
                            <p>If a entry means the criteria but the imprint/publisher is not in Myneworm,
                                please note this in your correction.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Entries must have a format (ie: manga, light novel) and a type (ie: paperback, ebook).</p>
                </li>
                <li>
                    <p>Cover images used must be the finalized English cover in releases. Non-final covers or pre-existing original covers
                        will not be accepted nor used as placeholders.
                    </p>
                </li>
                <li>
                    <p>Descriptions, cover images, and release dates can all be left empty if they do not exist yet.</p>
                </li>
            </ul>
        </section>
    </section>
</div>