.guidelines-component {
    display: flex;
    flex-direction: column;
    margin: 0% 20%;
}

.guidelines-component > h1 {
    border-bottom: 2px black solid;
    margin-bottom: 20px;
}

.guideline-section > h3 {
    margin-top: 20px;
    border-bottom: 2px black solid;
}

.guideline-section  p {
    margin-bottom: 8px;
}