<div class="auth-container">
    <h1>Reset Password</h1>
    <form *ngIf="!isSubmitted" class="auth-form" (ngSubmit)="submit()" #resetPasswordForm="ngForm">
        <div>
            <p>Please enter the email address linked to your account.</p>
        </div>
        <div class="auth-form-div">
            <label class="auth-label" for="email">
                <strong>Email</strong>
            </label>
            <input type="email" class="form-control" id="email" aria-describedby="emailhelp" name="email" required
                [pattern]="emailPattern" [(ngModel)]="email">
        </div>
        <div class="auth-button-horizontal">
            <button class="btn auth-button" onclick="history.back()">Return to Login</button>
            <button type="submit" class="btn auth-button"
                [disabled]="resetPasswordForm.invalid">Submit</button>
        </div>
    </form>
    <div *ngIf="isSubmitted" class="auth-content">
        <h3>Your request has been sent!</h3>
        <p>
            If there is an account with that email address, you should see an email in your
            inbox within 5 minutes. Remember to check your spam folder in case the email was flagged!
        </p>
        <p>
            If you do not receive an email, do not resubmit this form. Email <a href="mailto:myneworm@katsurin.com">myneworm&#64;katsurin.com</a>
            directly, with the email you just submitted, requesting a password reset.
        </p>
        <button class="btn auth-button" onclick="history.back()">Return to Login</button>
    </div>    
</div>