.list-entry-modal {
    display: flex;
    flex-direction: column;
    padding: 2% 3%;
    height: 100%;
    background-color: #ECEBF3;
    color: #1F2232;
}

.modal-label {
    font-size: 0.941vw;
}

.close-wrapper {
    height: inherit;
}

.modal-close {
    font-size: larger;
    color: gray;
    transition: none;
    border: 0;
    padding: 0;
    height: 36px;
    width: 36px;
}

.modal-close:hover, .modal-close:active {
    color: #ECEBF3 !important;
    background-color: #0D98BA !important;
}

@media screen and (max-width: 1024px) {
    .modal-label {
        font-size: 1.563vw;
    }
}

.modal-content {
    height: calc(60vh - 135px);
    justify-content: space-between;
}

.modal-container {
    display: flex;
    flex-direction: column;
    margin: 1em 2em;
}

.modal-header {
    font-size: 20px;
    height: 85px;
}

.modal-header>h1 {
    margin-right: 0;
    margin-left: 0;
}

.modal-action {
    margin-right: 20px;
}

.modal-input,
.modal-input:hover,
.modal-input:focus {
    border: none !important;
    -webkit-text-fill-color: inherit !important;
    box-shadow: none;
}

.datepicker-input {
    display: flex;
    position: relative;
    width: initial;
    align-items: center;
    height: 38px;
}

.mat-date-input {
    width: -webkit-fill-available;
}

.date-icon {
    z-index: 10;
    margin-left: 10px;
    position: relative;
}

.date-input {
    z-index: 9;
    position: absolute;
    padding-left: 35px;
}

.calendar-card-select {
    position: fixed;
    z-index: 1000;
    width: 300px;
    display: none;
}

.show-calendar {
    display: block;
}

.form-group:nth-child(n+2) {
    margin-top: 10px;
}

::ng-deep.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    border: 0;
}

.modal-row {
    display: inline-flex;
    height: calc(56vh - 135px);
    justify-content: space-between;
}

.modal-form {
    display: inline-flex;
    flex-direction: column;
}

.img-aspect-ratio {
    width: 100%;
    display: block;
}

.modal-input-textarea {
    max-height: calc(46vh - 315px);
}

@media screen and (max-width: 768px) {
    .col-6 {
        width: 100%;
    }
    .modal-label {
        font-size: medium;
    }
    .form-group:nth-child(n+2) {
        margin-top: 0;
    }
}

@media screen and (max-width: 425px) {
    .modal-footer {
        justify-content: space-evenly;
    }
    .modal-action {
        margin-right: 0;
    }    
}