<div *ngIf="book != undefined">
    <h2 class="page-title">{{book.title}}</h2>
    <div class="row">
        <aside class="col-2 aside-content">
            <img class="book-cover" src='{{getCover()}}' alt='Cover for {{book.title}}'>
            <div class="aside-btn-group">
                <a class="btn btn-lg myneworm-btn" role="button" (click)="updateListEntry()" [ngClass]="{ disabled: isLoggedIn }"
                    aria-disabled="{isLoggedIn}" tabindex='{{isLoggedIn ? -1 : 0}}'>Add to List</a>
                <a [routerLink]="'/correction'" [queryParams]="{isbn: book.isbn}" class="btn btn-lg myneworm-btn disabled" tabindex="-1" role="button" aria-disabled="true">Edit Entry</a>
            </div>
            <div>
                <p><strong>Format:</strong> {{this.utilities.formatReadable(book.format_name)}}</p>
                <p><strong>Type:</strong> {{this.utilities.formatReadable(book.book_type_name)}}</p>
                <p *ngIf="book.release_date !== null"><strong>Release:</strong> {{this.utilities.dateReadable(book.release_date)}}</p>
                <p *ngIf="book.release_date === null"><strong>Release:</strong> Unknown</p>
                <p *ngIf="publisher != undefined"><strong>Imprint: </strong><a
                        routerLink="/publisher/{{book.publisher_id}}" class="aside-link">{{publisher.name}}</a></p>
            </div>
            <div class="book-links">
                <!-- <a class="button-link" href="."><div class="button-text">EXAMPLE LINK</div></a>-->
            </div>
        </aside>
        <main class="col-8">
            <div class="book-description">
                <p *ngIf="book.description != ''" [innerHTML]="book.description"></p>
                <p *ngIf="book.description === ''">No description available.</p>
            </div>
        </main>
    </div>
</div>