<div class="container-fluid" *ngIf="book != undefined">
    <div class="row">
        <aside class="book-info col-2">
            <h2 class="book-title">{{book.title}}</h2>
            <img src='{{getCover(book.isbn)}}'>
            <div class="button-div disabled">
                <div class="button-link button-text">Edit</div>
                <!--<a class="button-link" [routerLink]="'/correction'" [queryParams]="{isbn: book.isbn}"><div class="button-text">Edit</div></a>-->
            </div>
            <div class="book-tags">
                <p><strong>Format:</strong> {{this.utilities.formatReadable(book.format_name)}}</p>
                <p><strong>Type:</strong> {{this.utilities.formatReadable(book.book_type_name)}}</p>
                <p><strong>Release:</strong> {{this.utilities.dateReadable(book.release_date)}}</p>
                <p *ngIf="publisher != undefined"><strong>Imprint: </strong><a
                        routerLink="/publisher/{{book.publisher_id}}" class="aside-link">{{publisher.name}}</a></p>
            </div>
            <div class="book-links button-div">
                <!-- <a class="button-link" href="."><div class="button-text">EXAMPLE LINK</div></a>-->
            </div>
        </aside>
        <div class="book-description col-8">
            <p *ngIf="book.description != null" [innerHTML]="book.description"></p>
            <p *ngIf="book.description === null">No description available.</p>
        </div>
    </div>
</div>