.page-title {
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

.book-cover {
    max-width: inherit;
}

.aside-content {
    margin-right: 2%; 
}

.aside-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 16px;   
}