<div class="book-page" *ngIf="book != undefined">
    <aside class="book-info">
        <h2 class="book-title">{{book.title}}</h2>
        <img src='{{getCover(book.isbn)}}'>
        <div class="book-links button-div">
            <a class="button-link" href="."><div class="button-text">EXAMPLE LINK</div></a>
        </div>
    </aside>
    <div class="book-description">
        <p *ngIf="book.description != null" [innerHTML]="book.description"></p>
        <p *ngIf="book.description === null">No description available.</p>
    </div>
</div>