<div class="missing-page">
    <h2 class="missing-page-element">404</h2>
    <div class="flex-break"></div>
    <h3 class="missing-page-element">Page Not Found</h3>
    <div class="flex-break"></div>
    <p class="missing-page-element">Wandering in a library can lead to some strange occurances...</p>
    <div class="flex-break"></div>
    <p class="missing-page-element">Perhaps you'll find your way with one of these links</p>
    <div class="flex-break"></div>
    <div class="missing-page-element missing-page-links">
        <a class="btn missing-nav-button" type="button" [routerLink]="'/home'">Home</a>
        <a class="btn missing-nav-button" type="button" [routerLink]="'/publisher'">Imprints</a>
    </div>
</div>