<div class="profile-flex">
    <aside>
        <img src="../../assets/Rozemyne_square.jpg">
        <p><b>Last Online:</b> Online</p>
        <p><b>Joined:</b> Yesterday</p>
        <p><b>Location:</b> Raleigh, NC</p>
        <p><b>Birthday:</b> 26 April 2000</p>
        <br>
        <a class="btn btn-lg myneworm-btn" role="button" href="./user/Mynebooks/lists">My List</a>
    </aside>
    <div class="profile-container">
        <div class="user-header">
            <div class="username-display">
                <h2 class="aside-offset">Butterstroke</h2>
            </div>
            <div class="user-about-me aside-offset">
                <p>Hello world</p>
            </div>
        </div>
        <div class="profile-content aside-offset">
            <h3 id="#statistics" class="list-display-header">Statistics</h3>
            <div class="list-displays">
                <statistic-display displayTitle="Activity" [displayObj]="activeStatusCount"></statistic-display>
                <statistic-display displayTitle="Ownership" [displayObj]="ownershipCount"></statistic-display>
                <statistic-display displayTitle="Book Type" [displayObj]="bookTypeCount"></statistic-display>
            </div>
        </div>
    </div>
</div>