.wrap-single-column {
    justify-content: space-around;
}

.error-message {
    background-color: rgba(240, 45, 58, 0.3);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: #E5101E;
}

.flex-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flex-form > h2 {
    text-align: center;
}

.group-margin {
    margin-top: 20px;
}

.submission-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.required-mark {
    color: red;
}

.form-alert {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 6px; 
}

input:focus {
    border-color: var(--bs-border-color);
    box-shadow: none;
}

@media (max-width: 768px) {
    [class*="col-"] {
        width: 80%;
    }
}

@media (max-width: 425px) {
    [class*="col-"] {
        width: 100%;
    }
}