<div class="profile-flex">
    <aside *ngIf="profileInfo" class="aside-width">
        <img src='{{getAvatar()}}'>
        <p><b>Last Online:</b> {{this.isOnlineText()}}</p>
        <p><b>Joined:</b> {{this.utilities.dateReadable(profileInfo.create_date)}}</p>
        <p *ngIf="profileInfo.location"><b>Location:</b> {{profileInfo.location}}</p>
        <p *ngIf="profileInfo.birthday"><b>Birthday:</b> {{this.utilities.dateReadable(profileInfo.birthday)}}</p>
        <br>
        <div class="user-links">
            <a class="btn btn-lg" role="button" href="./user/{{profileInfo.username}}/lists">My List</a>
            <a class="btn btn-lg" role="button" href="./user/{{profileInfo.username}}/wishlist">Wishlist</a>
        </div>        
    </aside>
    <div class="profile-container">
        <div *ngIf="profileInfo" class="user-header">
            <div class="username-display">
                <h2 *ngIf="profileInfo.display_name" class="aside-offset">{{profileInfo.display_name}} (&#64;{{profileInfo.username}})</h2>
                <h2 *ngIf="profileInfo.display_name === null" class="aside-offset">{{profileInfo.username}}</h2>
            </div>
            <div class="user-about-me aside-offset">
                <markdown 
                    *ngIf="profileInfo.about_me" 
                    [data]="profileInfo.about_me"
                    ngPreserveWhitespaces>
                </markdown>
                <p *ngIf="profileInfo.about_me === null">No about me section is provided! Perhaps one day, this user will choose to write this section instead of reading.</p>
            </div>
        </div>
        <div class="profile-content aside-offset">
            <h3 id="#statistics" class="list-display-header">Statistics</h3>
            <div class="list-displays">
                <statistic-display displayTitle="Activity" [displayObj]="activeStatusCount" [triggerUpdate]="triggerUpdate"></statistic-display>
                <statistic-display displayTitle="Ownership" [displayObj]="ownershipCount" [triggerUpdate]="triggerUpdate"></statistic-display>
                <statistic-display displayTitle="Book Type" [displayObj]="bookTypeCount" [triggerUpdate]="triggerUpdate"></statistic-display>
            </div>
        </div>
        <div *ngIf="profileInfo" class="profile-content aside-offset">
            <h3 id="favourites" class="list-display-header">Favourites</h3>
            <favourites-display [user_id]="profileInfo.user_id"></favourites-display>
        </div>
    </div>
</div>