<div class="support-component">
    <div class="support-notice">
        <p>Please note that support is only available in English. Support in other languages is not possible at the moment. Sorry for the inconvenience.</p>
        <p>For data corrections, please use the interactive form found on any entry's page.</p>
        <p>
            If you are stuggling with our form, email us at 
            <a href="mailto:support@katsurin.com">support@katsurin.com</a>! 
            Include "Myneworm" in your email header to make sure it can be seen.
        </p>
    </div>
</div>
