<div class="support-component">
    <div class="support-notice">
        <p>Please read the following guides for various areas of support before reaching out.</p>
        <p>Note that support is only available in English; we are unable to respond in any other language. We apologize
            for any inconvenience.</p>
    </div>
    <div class="support-section" id="account">
        <h3>Account</h3>
        <h4>Password Reset</h4>
        <p>If a user is already authenticated, they are able to update their password directly on their settings page in the account section.</p>
        <p>However, if a user is unauthenticated and forgot their password, they can fill out our 
            <a href="https://myneworm.katsurin.com/reset">reset password form</a> with the email tied to their account. The user should then receive an
            email containing a link to reset their account's password. If the user does not receive an email, they should not resubmit the form and instead
            contact Myneworm Support at <a href="mailto:myneworm@katsurin.com">myneworm&#64;katsurin.com</a>.
        </p>
        <p>If a user has forgotten their email address, alternative identification can be used to prove ownership of the account. These users are asked to contact 
            <a href="mailto:myneworm@katsurin.com">myneworm&#64;katsurin.com</a> to complete that process.</p>
        <h4>Account Deletion</h4>
        <p>Katsurin Studios policy allows for any registered user to permanently delete their own profile. Users can find their delete account button 
            at the bottom of their settings page in the account section. Accounts will be marked for deletion for at least seven days.
        </p>
        <p>During the seven day grace period, if a user decides to revert the deletion process, they may re-login to their account and remove the deletion request.
            If they request to delete the account again, they will need to wait out another seven days.</p>
        <p>When an account completes the grace period,
            all account details are permanently delete from Myneworm's records and no restoration is possible.</p>
    </div>
    <div class="support-section" id="bugs">
        <h3>Bug Reports and Errors</h3>
        <p>If you find any bugs or errors on the site, we accept reports on our GitHub repository <a href="https://github.com/Butterstroke/Myneworm/issues/new/choose">here</a>. 
            You may also contact us at <a href="mailto:myneworm@katsurin.com">myneworm&#64;katsurin.com</a> or post a 
            message on the <a href="https://discord.gg/qKfqsjW">official Katsurin Studios Discord</a> with your found bug or error if you do not have a GitHub account.
        </p>
    </div>
    <div class="support-section" id="abuse">
        <h3>Abuse Reports</h3>
        <p>Katsurin Studios does not tolerate any user content (ie: usernames, messages, images, etc...) that contains offensive or sexually explicit behavior.
            Actions that promote violence, bigoted or hateful messaging, harmful or sexual behavior (ie: visible intimate body parts or clothes that reveal those features) 
            are possible reasons but not a fully exhaustive list.</p>
        <p>Other common actions that may be deemed as abuse on the site include impersonation, spam, 
            advertisments (intent to redirect users away from Myneworm for attention), trolling, and spoilers.</p>
        <p>For punishment, moderators can choose to either warn, temporarily ban, or permanently ban accounts that violate the site's guidelines and policies. 
            The level of severity is given based on reason and circumstances. Multiple violations can warant a more severe punishment in some cases.
        </p>
        <p>If banned, ban evasion is not tolerate and if found, can lengthen ban duration or become permanent.</p>
        <p>If you have abuse to report, reach out to <a href="mailto:myneworm@katsurin.com">myneworm&#64;katsurin.com</a> or a Myneworm moderator. Likewise, abuse appeals can reach 
            out to the same point of contact to discuss your case.</p>
    </div>
    <div class="support-section" id="database_corrections">
        <h3>Database Corrections</h3>
        <p>Our information is sourced directly from publishers and storefronts with help from Myneworm users. If there is any issues, please
            <s>fill out our data correction form with the details</s> reach out to <a href="mailto:myneworm@katsurin.com">myneworm&#64;katsurin.com</a> or
             a Myneworm moderator with the issue.
        </p>
    </div>
    <div class="support-section" id="contact">
        <h3>Contact Us</h3>
        <p>If any of the provided answers did not resolve your questions or issues, please reach out to <a
                href="mailto:myneworm@katsurin.com">myneworm&#64;katsurin.com</a> and we'd be happy to assist you.
        </p>
    </div>
</div>