.settings-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    font-size: x-large;
}

.settings-menu > a, .settings-menu > a:visited, .settings-menu > a:hover {
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #1f2232;
}

.settings-menu > a.current {
    border-radius: 8px;
    padding: 8px 6px;
    background-color: #2dc9f0;
    margin-top: 4px;
    margin-bottom: 4px;
}

#avatarFile {
    opacity: 0;
    position: absolute;
    width: inherit;
    cursor: pointer;
}

.delete-button {
    color: #ECEBF3;
}

.avatar-upload-btn {
    border: 0;
    padding: 0;
    cursor: pointer;
}

.custom-file-label {
    width: -webkit-fill-available;
    height: 46px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-group {
    margin-top: 10px;
}

.button-group > .btn {
    margin-right: 20px;
}

.avatar-label {
    margin-bottom: 10px;
}

.settings-button {
    width: 10%;
    min-width: 200px;
    margin-top: 10px;
}

.avatar-display {
    width: 250px;
    height: 250px;
}

.settings-subdiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.settings-input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
}

.settings-textarea {
    resize: none;
    width: 50%;
}

.missing-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed black;
}

.pad-form-div {
    margin-top: 20px;
}