<div class="row" *ngIf="profileData !== undefined">
    <aside class="settings-menu col-2">
        <h2 style="font-size: xx-large;">Settings</h2>
        <a routerLink="/settings/profile" [ngClass]="{current: currPage === 'PROFILE'}">Profile</a>
        <a routerLink="/settings/account" [ngClass]="{current: currPage === 'ACCOUNT'}">Account</a>
    </aside>
    <div class="col-8">
        <div *ngIf="currPage === 'PROFILE'">
            <form #profileForm="ngForm" (ngSubmit)="submitProfile()">
                <div class="form-group">
                    <label for="aboutMe">
                        <h3>About Me</h3>
                    </label>
                    <textarea name="aboutMe" autocomplete="off" class="form-control settings-textarea" rows="3" [(ngModel)]="profileData.about_me"></textarea>
                </div>
                <div class="form-group pad-form-div">
                    <label for="location">
                        <h3>Location</h3>
                    </label>
                    <input type="text" class="settings-input form-control" id="location" name="location" [(ngModel)]="profileData.location">
                </div>
                <div class="form-group pad-form-div">
                    <label for="displayName">
                        <h3>Display Name</h3>
                    </label>
                    <input type="text" class="settings-input form-control" id="displayName" name="displayName" 
                        [(ngModel)]="profileData.display_name" aria-describedby="displayNameHelp">
                    <small id="displayNameHelp" class="form-text text-muted">
                        Leaving this blank will disable the display name and your username will be used instead.
                    </small>
                </div>
                <div class="form-group pad-form-div">
                    <label for="avatarFile" class="avatar-label"><h3>Avatar</h3></label>
                    <p *ngIf="message !== undefined">{{message}}</p>
                    <div class="avatar-display" *ngIf="url !== undefined">
                        <img class="avatar-display" src={{url}}>
                    </div>                    
                    <div class="avatar-display missing-avatar" *ngIf="url === undefined">
                        No image uploaded
                    </div>
                    <div class="button-group">
                        <div class="btn btn-lg myneworm-btn settings-button avatar-upload-btn">
                            <input type="file" id="avatarFile" name="avatar" class="custom-file-input" accept="image/jpeg"
                                (change)="onFileChanged($event)">
                            <label for="avatarFile" class="custom-file-label">Upload File</label>
                        </div>
                        <button class="btn btn-lg myneworm-btn settings-button" name="clearAvatar" (click)="resetAvatar()">Clear</button>
                    </div>                    
                </div>
                <br>
                <button class="btn btn-lg myneworm-btn settings-button" type="submit" name="Submit"
                value="Submit">Save</button>
            </form>            
        </div>
        <div *ngIf="currPage === 'ACCOUNT'">
            <form #accountForm="ngForm" (ngSubmit)="submitAccount()">
                <div class="form-group">
                    <label for="username">
                        <h3>Username</h3>
                    </label>
                    <input type="text" class="settings-input form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="email">
                        <h3>Email</h3>
                    </label>
                    <input type="email" class="settings-input form-control" id="email" name="email"
                        pattern="^\S{1,}@\S{1,}.\S{1,}$">
                </div>
                <div class="form-group">
                    <label for="password">
                        <h3>Password</h3>
                    </label>
                    <input type="password" class="settings-input form-control" id="password" name="password"
                        pattern="(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}" placeholder="New Password"
                        aria-placeholder="New Password">
                    <input type="password" class="settings-input form-control" id="password" name="password"
                        pattern="(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}" placeholder="Confirm Password"
                        aria-placeholder="Confirm Password">
                </div>
                <button class="btn btn-lg myneworm-btn settings-button" type="submit" name="Submit"
                    value="Submit">Save</button>
            </form>
            <br><br>
            <h3>Delete Your Account</h3>
            <div class="settings-subdiv">
                <p>By clicking this button, your account will be flagged for deletion. You will have up to 48 hours
                    after
                    submission to revert this change. Afterwards, your account will be deleted and there is no recovery
                    beyond the 48 hour grace period.</p>
                <button class="btn btn-lg btn-danger settings-button delete-button">Delete</button>
            </div>
        </div>
    </div>
</div>