/*
* Image icon override
*/
.fc-icon-calendar {
    content: url("../../assets/fa-calendar.svg");
}

.fc-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.imprint-calendar .fc-toolbar {
    justify-content: inherit;
}

.imprint-calendar .fc-toolbar-title {
    margin-left: 2em;
    font-size: 1.5em;
}