/*
* Image icon override
*/
.fc-icon-calendar {
    content: url("../../assets/fa-calendar.svg");
}

.fc-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.imprint-calendar .fc-toolbar {
    justify-content: inherit;
}

.imprint-calendar .fc-toolbar-title {
    margin-left: 2em;
    font-size: 1.5em;
}

.fc-list-event-time {
    display: none;
}

.fc-list-day-cushion {
    display: flex;
}

.fc-list-day-text {
    order: 2;
}

.fc-list-day-side-text {
    order: 1;
    margin-right: 4px;
}

.fc-list-day-side-text:after {
    content: ",";
}

.fc-list-event-graphic {
    display: none;
}

tr.fc-list-event {
    background-color: inherit;
}

.fc-col-header-cell-cushion,
.fc-daygrid-day-number,
.fc-list-day-text,
.fc-list-day-side-text {
    color: black;
    text-decoration: none;
}

/**
 * SCHEDULE TAGS
 **/

.schedule-tag {
    display: flex;
    float: left;
    margin-right: 4px;
    background-color: #2DC9F0;
    width: 125px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.format-tag, .type-tag {
    width: 100px;
}

.schedule-tag a, .schedule-tag a:hover {
    text-decoration: none !important;
}

/*
 * Tags
 */

.default-imprint-colour {
    background-color: #2DC9F0;
}

.light-novel {
    background-color: #2DC9F0;
}

.manga {
    background-color: #2DC9F0;
}

.yen-press {
    background-color: #7C8F3D;
}

.yen-on {
    background-color: #93A849;
}

.j-novel-club {
    background-color: #0C5CB5;
}

.j-novel-heart {
    background-color: #ED1941;
}

.tentai-books {
    background-color: #FE0000;
}

.steamship {
    background-color: #AE1649;    
}