.nav-main-div {
    padding: 0;
}

.nav-list-right {
    margin-right: clamp(10px, 2vw, 38px);
}

.nav-list {
    background-color: #1F2232;
    height: 75px;
    color: #ECEBF3;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}

.nav-list-ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: inherit;
}

.nav-li {    
    display: inline-block;
    height: inherit;
}

.nav-link {
    color: #ECEBF3;  
}

.nav-link:hover {
    background-color: #0D98BA;
}

.nav-item {
    padding-left: clamp(15px, 1vw, 20px);
    padding-right: clamp(15px, 1vw, 20px);
    font-size: x-large;
    display: flex;
    align-items: center;
    height: inherit;
}

.nav-search {
    width: 300px;
    font-size: x-large;
    margin-right: 20px;
}

.nav-height {
    height: 100%;
}

.nav-user-menu {
    width: 200px;
    display: flex;
    align-items: center;
}

.nav-user-menu-preview {
    width: -webkit-fill-available;
    justify-content: center;
}

.nav-li:first-child > .nav-item {
    padding-left: clamp(30px, 3vw, 40px);
    padding-right: clamp(40px, 6vw, 80px);
    margin-right: 0;
}

.nav-search-link {
    display: none;
}

@media (max-width: 1350px) {
    .nav-search-link {
        display: inline-block;
    }   

    .nav-search {
        display: none;
    }
}
