.nav-list-left, .nav-list-right {
    height: 75px;
}

.nav-list-left {
    float: left;
}

.nav-list-right {
    float: right;
    margin-right: 50px;
}

.nav-list, footer {
    background-color: #1F2232;
    overflow: hidden;
    height: 75px;
    color: #ECEBF3;
}

.nav-list-ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-li {    
    display: inline-block;
}

.nav-link {
    color: #ECEBF3;
    text-decoration: none;    
}

.nav-link:hover {
    background-color: #0D98BA;
}

.nav-item {
    padding-top: 23.5px;
    padding-bottom: 23.5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: x-large;
    margin: 0;
    max-height: 30px;
    display: flex;
    align-items: center;
}

.nav-search {
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    font-size: x-large;
    margin: 0;
    max-height: 30px;
}

.nav-user-menu {
    width: 200px;
}

.nav-user-menu-preview {
    display: inline-block !important;
    text-align: center;
    width: -webkit-fill-available;
}

.nav-li:first-child > .nav-item {
    padding-left: clamp(30px, 3vw, 40px);
    padding-right: clamp(40px, 6vw, 80px);
}
