<div class="row imprint-spacer" *ngIf="imprint != undefined">
    <aside class="col-3">
        <div class="imprint-left-header">
            <h2>{{imprint.name}}</h2>
            <img class="imprint-logo" src='{{getLogo(imprint.publisher_id)}}'>
        </div>
        <div class="imprint-info">
            <a class="btn btn-lg imprint-btn myneworm-btn" href="{{imprint.official_site}}" 
                type="button" target="_blank">Official Page</a>
        </div>
    </aside>
    <main class="col-9">
        <h3>Upcoming Releases</h3>
        <div class="imprint-calendar">
            <calendar-manager #calendar [options]="calendarOptions"></calendar-manager>
        </div>
    </main>
</div>