.confirmation-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6%;
}

.confirmation-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.confirmation-btns {
    display: flex;
    justify-content: space-around;
}