<div class="confirmation-message">
    <h1>Are you sure?</h1>
    <div class="confirmation-content">
        <p>Logging back into your account within seven (7) days will reverse this action.</p>
        <p>After the account is deleted, <span style="color: red;">there is no data recovery.</span></p>
        <div class="confirmation-btns">
            <button class="btn btn-lg btn-danger" (click)="deleteAccount()">Delete My Account</button>
            <button class="btn btn-lg myneworm-btn" (click)="close()">Cancel Action</button>
        </div>
    </div>
</div>
