<div class="about-page">
    <p>
        Let's be honest. You like books. I like books. Like any other fan of light novels 
        and manga, you're probably reading more than a couple of series at a time. So 
        trying to stay up-to-date on multiple series with multiple publishers and keeping
        all of those dates straight in your head when you go for your next haul is quite
        precarious.
    </p>
    <p>
        Myneworm is the premier website to track and stay up-to-date on all of your light novel
        and manga releases at the push of a button. We track all upcoming and previous releases
        from the big names to the small names, from popular to obsure. All in one convient place
        for any reader of any reading collection!
    </p>
    <p>
        Preview the release calendars to see exactly how far away your next sequel comes out! Or
        search for your next favourite series with our database! Browse by imprint or find how large
        a series can be before commiting to it. Found the book you want? We also keep store links to
        your favourite vendors so that reading is simple as find and click to store!
    </p>
</div>