<div class="form-container">
    <h2 class="form-header">Data Correction Form</h2>
    <form class="form-display" #dataCorrection="ngForm" (ngSubmit)="submit()">
        <div class="form-row">
            <label for="isbn"><strong>ISBN (Required)</strong></label>
            <input type="text" class="form-input" id="isbn" name="isbn" required pattern="\d{13}"
                [(ngModel)]="correction.isbn" #isbn="ngModel" />
        </div>
        <div class="form-row form-feedback" *ngIf="isbn.errors && (isbn.dirty || isbn.touched)">
            <p class="form-error" *ngIf="isbn.errors.required">ISBN number is required</p>
            <p class="form-error" *ngIf="isbn.errors.pattern">ISBN number isn't a 13 digit number</p>
        </div>

        <div class="form-row">
            <label for="title"><strong>Title</strong></label>
            <input type="text" class="form-input" name="title" [(ngModel)]="correction.title" #title="ngModel" />
        </div>

        <div class="form-row">
            <label for="description"><strong>Description</strong></label>
            <textarea class="form-textbox" name="description" [(ngModel)]="correction.description"
                #description="ngModel"></textarea>
        </div>

        <div class="form-row">
            <label for="coverURL"><strong>Cover</strong></label>
            <input type="url" class="form-input" name="coverURL" [(ngModel)]="correction.coverURL" #coverURL="ngModel"
                pattern="^http[s]{0,1}:\/\/\S{1,}.\S{1,}.png$" />
        </div>
        <div class="form-row form-feedback" *ngIf="coverURL.errors && (coverURL.dirty || coverURL.touched)">
            <p class="form-error" *ngIf="coverURL.errors.pattern">Cover image URL fails to be a PNG file URL.</p>
        </div>

        <div class="form-row">
            <label for="release"><strong>Release Date</strong></label>
            <input type="date" class="form-input" name="release" [(ngModel)]="correction.release" #release="ngModel"
                pattern="^\d{4}-\d{2}-\d{2}$" />
        </div>
        <div class="form-row form-feedback" *ngIf="release.errors && (release.dirty || release.touched)">
            <p class="form-error" *ngIf="release.errors.pattern">Date must be mm/dd/yyyy.</p>
        </div>

        <div class="form-row">
            <label for="bookType"><strong>Book Type</strong></label>
            <select class="form-input" id="bookType" name="bookType" [(ngModel)]="correction.bookType" #bookType="ngModel">
                <option value="">No type</option>
                <option *ngFor="let type of booktypes" [ngValue]="type.book_type_name">{{type.book_type_name}}</option>
            </select>
        </div>

        <div class="form-row url-row">
            <label for="storeURL"><strong>Store URLs</strong></label>
            <div class="url-list" *ngFor="let URL of correction.storeURLs">
                <div class="url-entry">
                    <p class="url-list-label"><strong>{{URL.name}}</strong></p>
                    <p class="url-list-value">{{URL.url}}</p>
                </div>
            </div>
            <div class="url-list-input">
                <input class="form-input" name="storeURL" pattern="^http[s]{0,1}:\/\/\S{1,}.\S{1,}$"
                    [(ngModel)]="storeURL" #userInput="ngModel" />
                <button type="button" (click)="addURL()">Add URL</button>
            </div>
        </div>

        <div class="form-row">
            <label for="extraNote"><strong>Source/Additional Comments</strong></label>
            <textarea class="form-textbox" name="extraNote" ngModel></textarea>
        </div>

        <button type="reset" (click)="resetForm()">Reset</button>
        <button type="submit" [disabled]="dataCorrection.invalid">Submit</button>
    </form>
</div>