.privacy-container {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: Arial;
    color: #595959;
    font-size: 14px;
}

.privacy-container ::ng-deep {
    .privacy-title {
        font-size: 26px;
        color: #000000;
    }
    
    .privacy-description {
        margin-top: 48px;
        margin-bottom: 48px;
    }

    h1, h2 {
        color: #000000;
        margin: 0;
    }

    h1 {
        font-size: 19px;
        margin-bottom: 24px;
    }
    
    h2 {
        font-size: 17px;
    }

    a {
        color: #3030F1 !important;
        word-break: break-word !important;
    }

    .privacy-header-subtitle {
        font-size: 15px;
        color: rgb(89, 89, 89);
    }
    
    .line-height-15 {
        line-height: 1.5;
    }
    
    .margin-left-20 {
        margin-left: 20px;
    }

    ul > li {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    
    ul, ul>li>ul>li>ul {
        list-style-type: square;
    }
    
    ul>li>ul {
        list-style-type: circle;
    }

    tr {
        border: 1px solid black;
    }
    
    tr > td {
        padding: 22px;
    }
    
    tr > td:first-child {
        width: 33.8274%;
    }

    tr > td:nth-child(2) {
        border-left: 1px solid black;
        border-right: 1px solid black; 
        width: 51.4385%;
    }
    
    tr > td:last-child {
        width: 14.9084%; 
        text-align: center;
    }
    
    .privacy-section-div {
        margin-bottom: 24px;
    }
    
    .termly-footer {
        padding-top:16px;
    }
}