<div class="search-bar">
    <form #searchInput="ngForm" (ngSubmit)="submit()">
        <input type="text" class="search-input" placeholder="Search" [(ngModel)]="searchTerm" #userInput="ngModel" [ngModelOptions]="{standalone: true}"
            [ngClass]="{'no-radius-bottom-left' : this.dataSource.data.length > 0 || (this.dataSource.data.length === 0 && this.searchTerm !== '')}" (input)="onChange()" />
        <button type="submit" class="search-submit" (click)="onButtonClick()"
            [ngClass]="{'no-radius-bottom-right' : this.dataSource.data.length > 0 || (this.dataSource.data.length === 0 && this.searchTerm !== '')}"
            aria-label="Search">
                <img class="search-btn-icon" src="../../assets/fa-search.svg" alt="Search icon"/>
        </button>
    </form>
    <table *ngIf="dataSource" mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 search-table" cellspacing="0">
        <ng-container matColumnDef="cover">
            <td class="search-image-row" mat-cell *matCellDef="let element">
                <img class="search-cover-img" src='{{getCover(element.isbn)}}' alt='Cover for {{element.title}}' />
            </td>
        </ng-container>
        <ng-container matColumnDef="title">
            <td class="search-text-row" mat-cell *matCellDef="let element">
                <p class="search-item-title">
                    <strong *ngIf="element.title.length > 57">
                        <span *ngIf="hoveredRow && element.isbn === hoveredRow.isbn">{{element.title}}</span>
                        <span *ngIf="hoveredRow == null">{{element.title.substring(0, 57)}}...</span>
                        <span *ngIf="hoveredRow && element.isbn !== hoveredRow.isbn">{{element.title.substring(0, 57)}}...</span>
                    </strong>
                    <strong *ngIf="element.title.length < 57">{{element.title}}</strong>
                </p>
                <br>
                <p class="search-item-format"><em>({{this.utilities.formatReadable(element.format_name)}}, {{this.utilities.formatReadable(element.book_type_name)}})</em></p>
            </td>
        </ng-container>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" class="search-result-row" 
            (click)="onClick(row.isbn)" (mouseenter)="mouseOverRow(row)" (mouseleave)="mouseLeaveRow()"></tr>
        <tr class="mat-row search-result-row" *matNoDataRow [ngClass]="this.searchTerm !== '' ? '' : 'hide-no-result'">
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                <strong>
                    <p class="search-message" *ngIf="this.loading === false">No results found...</p>
                    <p class="search-message" *ngIf="this.loading === true">Searching for titles...</p>
                </strong>
            </td>
        </tr>
    </table>
</div>