.main-container {
    width: 100%;
    min-height: calc(100vh - 190px); /* Header + Footer height ignored */
    overflow-y: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-list, footer {
    background-color: #1F2232;
    overflow: hidden;
    height: 75px;
    color: #ECEBF3;
}

.nav-list {
    list-style-type: none;
}

.nav-list-ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item {
    padding-top: 23.5px;
    padding-bottom: 23.5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: x-large;
    margin: 0;
    max-height: 30px;
    display: flex;
    align-items: center;
}

.nav-search {
    position: absolute;
    right: 100px;
    display: block;
    padding-top: 14px;
}

.nav-item:first-child {
    padding-left: 40px;
    padding-right: 80px;
}

.nav-link a { 
    color: #ECEBF3;
    text-decoration: none; 
}

.nav-link:hover {
    background-color: #0D98BA;
}

footer {
    text-align: right;
    width: 100%;
    position: relative;
    font-size: large;
}

footer span {
    vertical-align: middle;
    display: inline-block;
    line-height: 75px;
    margin-right: 20px;
}