.main-container {
    min-height: calc(100vh - 180px); /* Header + Footer height ignored */
}

footer {
    background-color: #1F2232;
    overflow: hidden;
    height: 75px;
    color: #ECEBF3;
    text-align: right;
    font-size: large;
    margin-top: 10px;
}

footer span {
    line-height: 75px;
    margin-right: 4px;
    margin-left: 4px;
}

footer span:last-child {
    margin-right: 20px;
}

.toast-wrapper-div {
    height: 0;
    z-index: 100;
    position: sticky;
    top: 20px
}

::ng-deep router-outlet + * > div {
    margin-top: 20px;
}