<!--
    Top navigation bar
-->
<nav class="nav-list">
    <ul class="nav-list-ul">
        <a class="nav-item nav-link" [routerLink]="'.'"><li class="nav-li">Myneworm</li></a>
        <a class="nav-item nav-link" [routerLink]="'/home'"><li class="nav-li">Home</li></a>
        <a class="nav-item nav-link" [routerLink]="'/publisher'"><li class="nav-li">Imprints</li></a>
        <a class="nav-item nav-link" [routerLink]="'/contact'"><li class="nav-li">Contact</li></a>
        <a class="nav-item nav-link" [routerLink]="'/about'"><li class="nav-li">About</li></a>
        <a class="nav-item nav-link" [routerLink]="'/faq'"><li class="nav-li">FAQ</li></a>
        <li class="nav-item nav-search">
            <search-bar></search-bar>
        </li>
    </ul>
</nav>

<div class="main-content">
    <div class="main-container">
        <router-outlet></router-outlet>
    </div>
    <footer>
        <span><a [routerLink]="'/privacy'">Privacy</a></span>
        <span class="footer-seperator">|</span>
        <span>Myneworm &copy;2022-{{currYear}} Katsurin Studios</span>
    </footer>
</div>