<!--
    Top navigation bar
-->
<nav class="nav-list">
    <div class="nav-list-left">
        <ul class="nav-list-ul">
            <li class="nav-li"><a class="nav-item nav-link" [routerLink]="'.'">Myneworm</a></li>
            <li class="nav-li"><a class="nav-item nav-link" [routerLink]="'/home'">Home</a></li>
            <li class="nav-li"><a class="nav-item nav-link" [routerLink]="'/publisher'">Imprints</a></li>
            <li class="nav-li"><a class="nav-item nav-link" [routerLink]="'/contact'">Contact</a></li>
            <li class="nav-li"><a class="nav-item nav-link" [routerLink]="'/about'">About</a></li>
            <li class="nav-li"><a class="nav-item nav-link" [routerLink]="'/faq'">FAQ</a></li>
        </ul>
    </div>
    <div class="nav-list-right">
        <ul class="nav-list-ul">
            <li class="nav-li nav-search">
                <search-bar></search-bar>
            </li>
            <li class="nav-li nav-user-menu" *ngIf="isAuthenticated">
                <user-nav-menu></user-nav-menu>               
            </li>
            <li class="nav-li nav-user-menu" *ngIf="!isAuthenticated">
                <a class="nav-item nav-link nav-user-menu-preview" [routerLink]="'/login'">Login</a>
            </li>
        </ul>
    </div>    
</nav>

<div class="main-content">
    <div class="main-container">
        <router-outlet></router-outlet>
    </div>
    <footer>
        <span><a [routerLink]="'/privacy'">Privacy</a></span>
        <span class="footer-seperator">|</span>
        <span>Myneworm &copy;2022-{{currYear}} Katsurin Studios</span>
    </footer>
</div>