.main-container {
    min-height: calc(100vh - 180px); /* Header + Footer height ignored */
}

footer {
    background-color: #1F2232;
    overflow: hidden;
    height: 75px;
    color: #ECEBF3;
    text-align: right;
    font-size: large;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer span {
    line-height: 75px;
    margin-right: 4px;
    margin-left: 4px;
}

footer span:last-child {
    margin-right: 20px;
}

.social-links {
    display: inline-flex;
}

.social-logo {
    aspect-ratio: 1;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.github-logo {
    width: 35px;
}

.toast-wrapper-div {
    height: 0;
    z-index: 100;
    position: sticky;
    top: 20px
}

.router-wrapper {
    margin-top: 20px;
}