.flex-break {
    flex-basis: 100%;
    height: 0;
}

.missing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    height: calc(100vh - 500px);
}

.missing-nav-button:first-child {
    margin-right: 0.75em;
}

.missing-nav-button {
    margin-left: 0.375em;
    margin-right: 0.375em;
}

.missing-nav-button:last-child {
    margin-left: 0.75em;
}

.missing-page-element {
    margin-bottom: 0;
}

h2.missing-page-element {
    font-size: 4em;
}

h3.missing-page-element {
    font-size: 2em;
    margin-top: 0.25em;
}

.missing-page-links {
    display: flex;
    margin-top: 1.5em;
}