<div class="missing-page">
    <h2 class="missing-page-element">404</h2>
    <div class="flex-break"></div>
    <h3 class="missing-page-element">Page Not Found</h3>
    <div class="flex-break"></div>
    <p class="missing-page-element">Wandering in a library can lead to some strange occurances...</p>
    <div class="flex-break"></div>
    <p class="missing-page-element">Perhaps you'll find your way with one of these links</p>
    <div class="flex-break"></div>
    <div class="missing-page-element missing-page-links">
        <div class="missing-nav-button button-div">
            <a class="missing-renav button-link" [routerLink]="'/home'">
                <div class="button-text">Home</div>
            </a> 
        </div>
        <div class="missing-nav-button button-div">
            <a class="missing-renav button-link" [routerLink]="'/publisher'">
                <div class="button-text">Imprints</div>
            </a>
        </div>
    </div>
</div>