<div class="guideline-container">
    <h1>Database Guidelines</h1>
    <p>These guidelines are made to serve as a reference document for Myneworm Moderators and users to know what
        books we are looking to track and what submissions would be approved. Following the criteria provided helps
        keeps the approval process fast and up-to-date.
    </p>
    <p>
        If you find any entry that does not meet the criteria, you can submit a <a href="/guidelines">data correction
            form</a>
        so a moderator can review the entry and responed accordingly.
    </p>
    <section>
        <h2>Defining Manga and Light Novels</h2>
        <p>Myneworm is a website that tracks manga and light novels but there are a variety of ways to define either
            definition. Defining these terms for use in our database is a way to manage and maintain standards.
        </p>
        <h3>What is a Manga</h3>
        <ul>
            <li>
                <p>Manga are comics created in Japan for the Japanese market</p>
                <ul>
                    <li>
                        <p>Similarly, Manhwa (South Korean) and Manhua (Chinese, Hong Kong, Taiwan) also apply if they
                            are made for their respective markets</p>
                    </li>
                    <li>
                        <p>Manhwa from North Korea will not be accepted.</p>
                    </li>
                </ul>
            </li>
            <li>
                <p>Are licensed by a publisher in their respective markets</p>
                <ul>
                    <li>
                        <p>Self-publications are not considered licensed by a publisher</p>
                    </li>
                </ul>
            </li>
            <li>
                <p>Distribution either through a print release or digital format</p>
            </li>
        </ul>
        <h3>What is a Light Novel</h3>
        <ul>
            <li>
                <p>Novels that are created in Japan/Korea/China for their respective markets</p>
            </li>
            <li>
                <p>Are licensed by a publisher in their respective markets</p>
                <ul>
                    <li>
                        <p>Self-publications are not considered licensed by a publisher</p>
                    </li>
                    <li>
                        <p>Series must be published under a recognized light novel label</p>
                    </li>
                </ul>
            </li>
            <li>
                <p>Distribution either through a print release or digital format</p>
            </li>
        </ul>
    </section>
    <section>
        <h2>Additional Books We Track</h2>
        <p>
            While we focus on manga and light novels, we also track various additional books.
        </p>
        <ul>
            <li>
                <p>Books containing a collection of short stories from a series within Myneworm already (ie: .5
                    volumes)</p>
            </li>
            <li>
                <p>Fanbooks containing bonus manga and/or side stories from existing series within Myneworm</p>
            </li>
            <li>
                <p>Books that do not meet previous guidelines but have a verifiable anime adaptation and are published
                    in 1980 or beyond (ie: Shinsekai Yori or Another)</p>
            </li>
        </ul>
    </section>
    <section>
        <h2>What is Needed for a Myneworm Entry</h2>
        <p>
            On top of our definitions, we require a few additional pieces of information before adding it to the
            database.
        </p>
        <ol>
            <li>
                <p>Must be an English translation from a publisher entity</p>
            </li>
            <li>
                <p>Must have an ISBN-13 number</p>
                <ul>
                    <li>
                        <p>Reissues, reprints, and deluxe editions are accepted as seperate entries, provided their
                            ISBN-13 numbers are different from the original editions</p>
                    </li>
                </ul>
            </li>
            <li>
                <p>The entry must use the English title for the book</p>
                <ul>
                    <li>
                        <p>The title should also contain a volume number or any other identifying pieces listed
                            below.</p>
                    </li>
                    <li>
                        <p>One of the most common title formats for the site is the English title,
                            followed by the volume number. For example: The Ancient Magus Bride, Volume 4</p>
                    </li>
                    <li>
                        <p>Additionally, if there are seperate parts or published chapters, those can be defined
                            similiarly in the title. For example: Ascendance of a Bookworm, Part 1, Volume 1 or Re:ZERO
                            -Starting Life in Another World-, Chapter 4: The Sanctuary and the Witch of Greed, Vol.
                            5</p>
                    </li>
                </ul>
            </li>
        </ol>
    </section>
</div>