<h2 class="page-title"><a class="title-link" href="/user/{{listUser}}">{{listUser}}</a>'s Reading List</h2>
<div class="row">
    <div class="col-1"></div>
    <aside class="col-2">
        <h3 class="align-center">Filters</h3>
        <div class="list-filter-div">
            <h4>Status</h4>
            <div class="form-check">
                <input type="checkbox" id="reading" value="reading" class="form-check-input" (click)="statusUpdate('reading')">
                <label for="reading" class="form-check-label">Reading</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="completed" value="completed" class="form-check-input" (click)="statusUpdate('completed')">
                <label for="completed" class="form-check-label">Completed</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="paused" value="paused" class="form-check-input" (click)="statusUpdate('paused')">
                <label for="paused" class="form-check-label">Paused</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="dropped" value="dropped" class="form-check-input" (click)="statusUpdate('dropped')">
                <label for="dropped" class="form-check-label">Dropped</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="planning" value="planning" class="form-check-input" (click)="statusUpdate('planning')">
                <label for="planning" class="form-check-label">Planning</label>
            </div>
        </div>
        <div class="list-filter-div">
            <h4>Ownership</h4>
            <div class="form-check">
                <input type="checkbox" id="ordered" value="ordered" class="form-check-input" 
                    [checked]='this.ownershipFilter.includes("ordered")' (click)="addOwnership('ordered')">
                <label for="ordered" class="form-check-label">Ordered</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="owned" value="owned" class="form-check-input" 
                    [checked]='this.ownershipFilter.includes("owned")' (click)="addOwnership('owned')">
                <label for="owned" class="form-check-label">Owned</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="loaned" value="loaned" class="form-check-input" 
                    [checked]='this.ownershipFilter.includes("loaned")' (click)="addOwnership('loaned')">
                <label for="loaned" class="form-check-label">Loaned</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="previous_own" value="previous_own" class="form-check-input" 
                    [checked]='this.ownershipFilter.includes("previous_own")' (click)="addOwnership('previous_own')">
                <label for="previous_own" class="form-check-label">Previously Owned</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="wanting" value="wanting" class="form-check-input" 
                    [checked]='this.ownershipFilter.includes("wanting")' (click)="addOwnership('wanting')">
                <label for="wanting" class="form-check-label">Wanted</label>
            </div>
        </div>
        <div class="list-filter-div">
            <h4>Book Types</h4>
            <div class="form-check">
                <input type="checkbox" id="paperback" value="paperback" class="form-check-input" 
                    [checked]='this.booktypeFilter.includes("paperback")' (click)="addBooktype('paperback')">
                <label for="paperback" class="form-check-label">Paperback</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="ebook" value="ebook" class="form-check-input" 
                    [checked]='this.booktypeFilter.includes("ebook")' (click)="addBooktype('ebook')">
                <label for="ebook" class="form-check-label">Ebook</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="hardcover" value="hardcover" class="form-check-input" 
                    [checked]='this.booktypeFilter.includes("hardcover")'(click)="addBooktype('hardcover')">
                <label for="hardcover" class="form-check-label">Hardcover</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="audiobook" value="audiobook" class="form-check-input" 
                    [checked]='this.booktypeFilter.includes("audiobook")' (click)="addBooktype('audiobook')">
                <label for="audiobook" class="form-check-label">Audiobook</label>
            </div>
        </div>
        <div class="list-filter-div">
            <button class="btn" (click)="clearFilters()">Clear Filters</button>
        </div>
    </aside>
    <main class="col-9" *ngIf="isLoading === false">
        <table-display *ngIf="appliedFilter === 0 || (filter.reading && appliedFilter > 0)" [triggerListUpdate]="triggerListUpdate"
            [listEntries]="readingSource" tableName="Reading" [ownershipFilter]="ownershipFilter" [booktypeFilter]="booktypeFilter" [isAuthUser]="isAuthUser"></table-display>
        <table-display *ngIf="appliedFilter === 0 || (filter.completed && appliedFilter > 0)" [triggerListUpdate]="triggerListUpdate"
            [listEntries]="completedSource" tableName="Completed" [ownershipFilter]="ownershipFilter" [booktypeFilter]="booktypeFilter" [isAuthUser]="isAuthUser"></table-display>
        <table-display *ngIf="appliedFilter === 0 || (filter.paused && appliedFilter > 0)" [triggerListUpdate]="triggerListUpdate"
            [listEntries]="pausedSource" tableName="Paused" [ownershipFilter]="ownershipFilter" [booktypeFilter]="booktypeFilter" [isAuthUser]="isAuthUser"></table-display>
        <table-display *ngIf="appliedFilter === 0 || (filter.dropped && appliedFilter > 0)" [triggerListUpdate]="triggerListUpdate"
            [listEntries]="droppedSource" tableName="Dropped" [ownershipFilter]="ownershipFilter" [booktypeFilter]="booktypeFilter" [isAuthUser]="isAuthUser"></table-display>
        <table-display *ngIf="appliedFilter === 0 || (filter.planning && appliedFilter > 0)" [triggerListUpdate]="triggerListUpdate"
            [listEntries]="planningSource" tableName="Planning" [ownershipFilter]="ownershipFilter" [booktypeFilter]="booktypeFilter" [isAuthUser]="isAuthUser"></table-display>
        <div *ngIf="hasEntries === false">
            <p><b>User does not have any books in their list.</b></p>
            <a class="aside-link" href="/user/{{listUser}}">Return to {{listUser}}'s profile</a>
        </div>
    </main>
</div>