.imprint-left {
    width: 20%;
    float: left;
    margin-left: 2em;
    margin-right: 1em;
}

.imprint-left-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imprint-header {
    text-align: center;
    width: 100%;
}

.imprint-content {
    width: 75%;
    float: left;
    margin-right: 2em;
}

.imprint-info {
    margin-top: 2em;
}

.info-URL {
    flex-basis: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

.info-container {
    margin-left: 2em;
    margin-right: 2em;
}

.imprint-logo {
    max-width: 98%;
    max-height: 300px;
}