.imprint-left-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imprint-spacer {
    margin-top: 30px;
}

.imprint-info {
    margin-top: 2em;
}

.imprint-btn {
    margin-left: 2em;
    margin-right: 2em;
    width: -webkit-fill-available;
}

.imprint-logo {
    max-width: 98%;
    max-height: 300px;
}

.imprint-calendar {
    margin-bottom: 16px;
}