<div class="imprint-page">
    <div class="imprint-left">
        <div class="imprint-left-header">
            <h1 class="imprint-header">Testing</h1>
            <img class="imprint-logo" src='./assets\\9781638580645.jpg'>
        </div>
        <div class="imprint-info">
            <div class="info-container button-div">
                <a class="button-link" href="./home">
                    <div class="info-URL button-text">Official Page</div>
                </a>
            </div>
        </div>
    </div>
    <div class="imprint-content">
        <h2>Upcoming Releases</h2>
        <div class="imprint-calendar">
            <div class="calendar-container">
                <calendar-manager #calendar [options]="calendarOptions"></calendar-manager>
            </div>
        </div>
    </div>
</div>
