<div class="support-component">
    <div class="support-notice">
        <p>For general contacts, either use one of the interactive forms or email us at <a
                href="mailto:katsurinstudios@protonmail.ch">katsurinstudios&#64;protonmail.ch</a>. Please include "Myneworm"
            in the email header.</p>
        <p>Support is only avalible in English. We can not support contacts in other languages; sorry for the
            inconvenience.
        </p>
    </div>
    <div class="form-selection">
        <div *ngIf="isSelecting">
            <h2>Select a Form</h2>
            <button type="button" (click)="selectCorrection()">Data Correction</button>
            <button type="button" (click)="selectUserContact()">Contact Form</button>
        </div>
        <div *ngIf="dataCorrection">
            <data-correction (isReturned)="selectReturn()"></data-correction>
        </div>
        <div *ngIf="userContact">
            <contact-form (isReturned)="selectReturn()"></contact-form>
        </div>
    </div>
</div>