<div class="user-menu-wrap" *ngIf="user !== null">
    <span class="nav-item nav-link nav-user-menu-preview">{{user.username}}</span>
    <div class="user-menu">
        <a class="btn-link btn-div" href="/user/{{user.username}}">Profile</a>
        <a class="btn-link btn-div" href="/user/{{user.username}}/lists">My List</a>
        <a *ngIf='isModerator' class="btn-link btn-div" href="/admin">Admin Portal</a>
        <a class="btn-link btn-div" href="/settings">Settings</a>
        <a class="myneworm-btn btn-link btn-div" type="button" (click)="logout()">Logout</a>
    </div>
</div>   