
.user-menu-wrap {
    width: 200px;
    height: 75px;
}

.user-menu-wrap > .user-menu {
    display: none;
}

.user-menu-wrap:hover > .user-menu,
.user-menu-wrap:active > .user-menu {
    display: block;
}

.user-menu {
    z-index: 99;
    position: fixed;
    padding: 0;
    width: 200px;
    text-align: center;
    font-size: larger;
    border-radius: 0 0 8px 8px;
    overflow-y: hidden;
}

.user-menu > a {
    padding-top: 14px;
    padding-bottom: 14px;
    display: block;
}