<h2 class="page-title">{{listUser}}'s Reading List</h2>
<div class="row">  
    <div class="col-1"></div>  
    <aside class="col-2">
        <h3 class="filter-header">Filters</h3>
        <div class="list-filter-div">
            <h4>Status</h4>
            <div class="form-check">
                <input type="checkbox" id="reading" value="reading" class="form-check-input">
                <label for="reading" class="form-check-label">Reading</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="completed" value="completed" class="form-check-input">
                <label for="completed" class="form-check-label">Completed</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="paused" value="paused" class="form-check-input">
                <label for="paused" class="form-check-label">Paused</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="dropped" value="dropped" class="form-check-input">
                <label for="dropped" class="form-check-label">Dropped</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="planning" value="planning" class="form-check-input">
                <label for="planning" class="form-check-label">Planning</label>
            </div>
        </div>
        <div class="list-filter-div">
            <h4>Ownership</h4>
            <div class="form-check">
                <input type="checkbox" id="owned" value="owned" class="form-check-input">
                <label for="owned" class="form-check-label">Owned</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="loaned" value="loaned" class="form-check-input">
                <label for="loaned" class="form-check-label">Loaned</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="previous_own" value="previous_own" class="form-check-input">
                <label for="previous_own" class="form-check-label">Previously Owned</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="wanting" value="wanting" class="form-check-input">
                <label for="wanting" class="form-check-label">Wanting</label>
            </div>
        </div>
        <div class="list-filter-div">
            <h4>Book Types</h4>
            <div class="form-check">
                <input type="checkbox" id="paperback" value="paperback" class="form-check-input">
                <label for="paperback" class="form-check-label">Paperback</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="ebook" value="ebook" class="form-check-input">
                <label for="ebook" class="form-check-label">Ebook</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="hardcover" value="hardcover" class="form-check-input">
                <label for="hardcover" class="form-check-label">Hardcover</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="audiobook" value="audiobook" class="form-check-input">
                <label for="audiobook" class="form-check-label">Audiobook</label>
            </div>
        </div>
        <div class="list-filter-div">
            <h4>Imprints</h4>
        </div>
    </aside>
    <main class="col-9">
        <h3>Reading</h3>
        <table *ngIf="dataSource" mat-table matSort [dataSource]="dataSource" multiTemplateDataRows (matSortChange)="sortData($event)">
            <ng-container matColumnDef="cover">
                <th mat-header-cell *matHeaderCellDef scope="col" [attr.role]="null"></th>
                <td mat-cell *matCellDef="let element" class="row-padding">
                    <img class="table-img" src='{{this.getCover(element.isbn)}}' alt='Cover for {{element.title}}' />
                </td>
            </ng-container>
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef scope="col" [attr.role]="null">Title</th>
                <td mat-cell *matCellDef="let element">
                    <span><strong><a routerLink="/book/{{element.isbn}}" class="list-title-link">{{element.title}}</a></strong></span>
                </td>
            </ng-container>
            <ng-container matColumnDef="score">
                <th mat-header-cell mat-sort-header="score" *matHeaderCellDef scope="col" [attr.role]="null" class="align-center">Score</th>
                <td mat-cell *matCellDef="let element" class="align-center">
                    <span>{{element.score}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="reread">
                <th mat-header-cell mat-sort-header="reread" *matHeaderCellDef scope="col" [attr.role]="null" class="align-center">Reread</th>
                <td mat-cell *matCellDef="let element" class="align-center">
                    <span>{{element.reread}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef scope="col" [attr.role]="null" class="align-center">Status</th>
                <td mat-cell *matCellDef="let element" class="align-center">
                    <span>{{element.active_status}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="owner">
                <th mat-header-cell *matHeaderCellDef scope="col" [attr.role]="null" class="align-center">Ownership</th>
                <td mat-cell *matCellDef="let element" class="align-center">
                    <span>{{element.owner_status}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="notes">
                <th mat-header-cell *matHeaderCellDef scope="col" [attr.role]="null">Notes</th>
                <td mat-cell *matCellDef="let element">
                    <span>{{element.notes}}</span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns" [attr.role]="null"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </main>
</div>