.filter-header {
    text-align: center;
}

.list-filter-div {
    margin-bottom: 10px;
}

.page-title {
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

.table-img {
    max-height: 100px;
}

.display-table {
    cursor: pointer;
}

.row-padding {
    padding-top: 8px;
    padding-bottom: 8px;
}

tr:last-child {
    border-bottom: 0 !important;
}

tr {
    border-bottom: 1px solid lightgray;
}