@import '~normalize.css';
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    position: relative;
    background-color: #ECEBF3;
    color: #1F2232;
}

.aside-link {
    color: #0D98BA;
    text-decoration: none;
}

.aside-link:hover {
    text-decoration: underline;
}

.disabled {
    pointer-events:none;
}

/*
 * Buttons
 */
.button-link, .button-link:visited,
.btn-link, .btn-link:visited {
    color: #ECEBF3;
    text-decoration: none;
}

.button-div, .btn-div {
    background-color: #1F2232;
}

.button-div:hover, .btn-div:hover {
    background-color: #0D98BA;
}

.button-text, .btn-text {
    padding: 0.75em;
    text-align: center;
}