@import '~normalize.css';
@import "~bootstrap/dist/css/bootstrap.css";

@import 'src/styles/light.theme.css';

html, body { height: 100%; }
body { 
    position: relative;
}

.aside-link {
    text-decoration: none;
}

.aside-link:hover {
    text-decoration: underline;
}

.disabled {
    pointer-events:none;
}

.align-center {
    text-align: center;
}

/**
 * Headers
 */

.page-title {
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

/*
 * Buttons
 */
.btn-div, .footer-link {
    border-radius: 0;
    font-size: inherit;
    text-decoration: none;
}

/*
 * Collumn Widths
 */

.col-1-half {
    flex: 0 0 auto;
    width: 12.5%;
}

.col-3-half {
    flex: 0 0 auto;
    width: 29.16%;
}

.col-4-half {
    flex: 0 0 auto;
    width: 37.5%;
}