.book-cover {
    width: 100%;
}

.aside-content {
    max-width: 300px;
}

.aside-btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 16px;
}

.release-date > p {
    margin: 0;
}

.days-until-release {
    font-style: italic;
    padding: 8px 0px;
    padding-right: 4px;
    width: fit-content;
}

.aside-info {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

.aside-item {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.aside-item-title {
    font-weight: bold;
    width: 25%;
    min-width: fit-content;
    margin-right: 6px;
}

.aside-item-value {
    width: 70%;
}

.aside-img-icon {
    height: 30px;
    width: 30px;
}

.favourite-btn {
    padding-left: 6px; 
    padding-right: 6px; 
    margin-right: 10px; 
    display: inline-flex; 
    justify-content: center; 
    align-items: center;
}

@media screen and (min-width: 1024px) {
    a.col-5 {
        width: inherit;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    a.col-5 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 1024px) {
    .page-title {
        text-align: center;
    }
    
    .aside-btn-group {
        flex-direction: column;
    }

    .aside-btn-group>.btn:nth-child(n+2) {
        margin-top: 10px;
    }

    .aside-content {
        width: 25%;
    }

    a.col-5 {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .aside-content {
        width: 30%;
    }
}

@media screen and (max-width: 425px) {
    .aside-content,
    main {
        width: 100%;
    }

    .aside-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content;
    }

    .book-cover {
        width: 50%;
    }

    .aside-btn-group {
        width: 48%;
        margin-left: 1%;
    }

    .aside-info {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid gray;
    }

    .format-label, .type-label {
        width: 50%;
    }

    aside .btn {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .aside-item {
        flex-direction: column;
    }

    .aside-item {
        width: 50%;
    }
}