<div *ngIf="book != undefined">
    <h2 class="page-title">{{book.title}}</h2>
    <div class="row">
        <aside class="col-2 aside-content">
            <img class="book-cover" src='{{getCover()}}' alt='Cover for {{book.title}}'>
            <div class="aside-btn-group">
                <a class="btn btn-lg myneworm-btn" role="button" (click)="updateListEntry()" [ngClass]="{ disabled: !isLoggedIn }"
                    [attr.aria-disabled]="!isLoggedIn" tabindex='{{isLoggedIn ? 0 : -1}}'>{{ hasExistingEntry ? 'Update List' : 'Add to List' }}</a>
                <a [routerLink]="'/book/correction'" [queryParams]="{isbn: book.isbn}" class="btn btn-lg myneworm-btn" role="button" [ngClass]="{ disabled: !isLoggedIn }">Edit Entry</a>
            </div>
            <div class="aside-info">
                <p class="format-label"><strong>Format:</strong> {{this.utilities.formatReadable(book.format_name)}}</p>
                <p class="type-label"><strong>Type:</strong> {{this.utilities.formatReadable(book.book_type_name)}}</p>
                <p><strong>Release:</strong> {{ book.release_date !== null ? this.utilities.dateReadable(book.release_date) : 'Unknown' }}</p>
                <p *ngIf="publisher != undefined"><strong>Imprint: </strong><a
                        routerLink="/publisher/{{book.publisher_id}}" class="aside-link">{{publisher.name}}</a></p>
            </div>
        </aside>
        <main class="col-8">
            <div class="book-description">
                <p *ngIf="book.description !== '' && book.description !== null" [innerHTML]="book.description"></p>
                <p *ngIf="book.description === '' || book.description === null">No description available.</p>
            </div>
        </main>
    </div>
</div>