<h3>Hello, {{user.username}}!</h3>
<div class="statistic-div">
    <h4>Myneworm at a Glance</h4>
    <div class="statistic-overview">
        <div class="statistic-square">
            <span>-</span>
            <p>Books</p>
        </div>    
        <div class="statistic-square">
            <span>-</span>
            <p>Users</p>
        </div>
    </div>    
</div>
<div class="statistic-div">
    <h4>Open Reports and Forms</h4>
    <div class="statistic-overview">
        <div class="statistic-square">
            <span>-</span>
            <p>Corrections</p>
        </div>    
        <div class="statistic-square">
            <span>-</span>
            <p>Reports</p>
        </div>
    </div>    
</div>
