<div class="search-bar-large">
    <div class="search-div">
        <div class="search-inner-div">
            <form #searchInput="ngForm" (ngSubmit)="submit()" class="search-form">
                <input type="text" class="search-input-long no-radius-bottom-left" placeholder="Search" [(ngModel)]="searchTerm"
                    #userInput="ngModel" [ngModelOptions]="{standalone: true}" />
                <button type="submit" class="search-submit-long no-radius-bottom-right" aria-label="Search">
                    <img class="search-btn-icon-long" src="../../assets/fa-search.svg" alt="Search icon" />
                </button>
            </form>
            <div class="advanced-options-button">
                <button class="clickable-button btn myneworm-btn" (click)="onAdvOptionsClick()">
                    {{ !showAdvancedOptions ? 'Show Filters' : 'Hide Filters' }}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="advanced-options" [ngClass]="{ 'hide-adv-options': !showAdvancedOptions }">
    <h3 class="search-page-header">Advanced Options</h3>
    <hr class="search-page-line">
    <p>Coming soon...</p>
</div>
<div class="search-results">
    <h3 class="search-page-header">Search Results</h3>
    <hr class="search-page-line">
    <div class="search-pagination">
        <button class="btn myneworm-btn" [ngClass]="this.pageNumber == 1 ? 'no-page' : ''" (click)="prevPage()">&lt; Previous</button>
        <button class="btn myneworm-btn" 
            [ngClass]="this.dataSource.filteredData.length === 0 || this.dataSource.filteredData.length < 25 ? 'no-page' : ''"
            (click)="nextPage()">Next &gt;</button>
    </div>
    <table *ngIf="dataSource" mat-table [dataSource]="dataSource" multiTemplateDataRows class="search-results">
        <ng-container matColumnDef="cover">
            <td class="search-image-row" mat-cell *matCellDef="let element">
                <a routerLink="/book/{{element.isbn}}" [attr.alt]="element.title"><img class="search-cover-img"
                        src='{{getCover(element.isbn)}}' alt='Cover for {{element.title}}' loading="lazy" /></a>
            </td>
        </ng-container>
        <ng-container matColumnDef="title">
            <td class="search-text-row" mat-cell *matCellDef="let element">
                <h5 class="search-item-title"><strong><a routerLink="/book/{{element.isbn}}"
                            class="search-link">{{element.title}}</a></strong></h5>
                <p *ngIf="element.description" class="search-item-desc line-clamp" [innerHTML]="element.description">
                </p>
                <p *ngIf="!element.description" class="search-item-desc line-clamp">No description provided...</p>
                <span *ngIf="element.description" class="more"><a routerLink="/book/{{element.isbn}}"
                        class="search-link">Read more</a></span>
            </td>
        </ng-container>
        <ng-container matColumnDef="format">
            <td class="search-format-col type-col" mat-cell *matCellDef="let element">
                <p class="type-cell">{{this.utilities.formatReadable(element.format_name)}}</p>
            </td>
        </ng-container>
        <ng-container matColumnDef="type">
            <td class="type-col" mat-cell *matCellDef="let element">
                <p class="type-cell">{{this.utilities.formatReadable(element.book_type_name)}}</p>
            </td>
        </ng-container>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" class="search-result-row"></tr>
        <tr class="mat-row search-result-row" *matNoDataRow [ngClass]="this.searchTerm !== '' ? '' : 'hide-no-result'">
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                <strong>
                    <p class="search-page-message">No results found...</p>
                </strong>
            </td>
        </tr>
    </table>
    <div class="search-pagination">
        <button class="btn myneworm-btn" [ngClass]="this.pageNumber == 1 ? 'no-page' : ''" (click)="prevPage()">&lt; Previous</button>
        <button class="btn myneworm-btn" 
            [ngClass]="this.dataSource.filteredData.length === 0 || this.dataSource.filteredData.length < 25 ? 'no-page' : ''"
            (click)="nextPage()">Next &gt;</button>
    </div>
</div>