.imprint-index {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.imprint-item {
    width: 25em;
    margin-right: 2em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-top: 1em;
}

.imprint-text-header {
    text-align: center;
    padding: .5em;
    border-radius: 6px;
}

.imprint-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imprint-logo {
    max-width: 25em;
    max-height: 200px;
    margin-bottom: 16px;
}