<div class="row wrap-single-column">
    <div class="col-6 flex-form">
        <h1>Reset Password</h1>
        <form (ngSubmit)="submit()" #resetPasswordForm="ngForm">
            <div class="form-group group-margin">
                {{passwordHelp}}
            </div>
            <div class="form-group group-margin">
                <label for="password">New Password</label>
                <input type="password" class="form-control" id="password" name="password" required
                    [pattern]="passwordPattern" [(ngModel)]="password" #passwordModel="ngModel">
                <div [hidden]="passwordModel.pristine || passwordModel.valid" class="alert alert-danger form-alert">
                    Password does not meet requirements.
                </div>
            </div>
            <div class="form-group group-margin">
                <label for="confirm">Confirm Password</label>
                <input type="password" class="form-control" id="confirm" name="confirm" required
                    [(ngModel)]="confirmPassword" #confirmed="ngModel">
                <div [hidden]="confirmed.pristine || password === confirmPassword" class="alert alert-danger form-alert">
                    Password confirmation does not match.
                </div>
            </div>
            <div class="submission-box">
                <button type="submit" class="btn btn-lg"
                    [disabled]="resetPasswordForm.invalid || password !== confirmPassword">Submit</button>
            </div>
        </form>
    </div>
</div>