<div class="support-component">
    <div class="support-notice">
        <p>Please note that support is only available in English. Support in other languages is not possible at the moment. Sorry for the inconvenience.</p>
        <p>For data corrections, please use the interactive form found on any entry's page.</p>
        <p>
            If you are stuggling with our form, email us at 
            <a href="mailto:support@katsurin.com">support@katsurin.com</a>! 
            Include "Myneworm" in your email header to make sure it can be seen.
        </p>
    </div>
    <div class="form-container">
        <h2 class="form-header">Contact Us!</h2>
        <form class="form-display" #userContact="ngForm" (ngSubmit)="submit()">
            <div class="form-row">
                <label for="name"><strong>Name (Required)</strong></label>
                <input type="text" class="form-input" name="name" [(ngModel)]="contactForm.name" #name="ngModel" required/>
            </div>
            <div class="form-row form-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
                <p *ngIf="name.errors.required">Name is required.</p>
            </div>
    
            <div class="form-row">
                <label for="email"><strong>Email (Required)</strong></label>
                <input type="text" class="form-input" name="email" [(ngModel)]="contactForm.email" #email="ngModel" required pattern="^\S{1,}@\S{1,}.\S{1,}$" />
            </div>
            <div class="form-row form-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
                <p *ngIf="email.errors.required">Email address is required.</p>
                <p *ngIf="email.errors.pattern">Email address is not valid.</p>
            </div>
    
            <div class="form-row">
                <label for="message"><strong>Message (Required)</strong></label>
                <textarea class="form-textbox" name="message" [(ngModel)]="contactForm.message" #message="ngModel" required></textarea>
            </div>      
            <div class="form-row form-feedback" *ngIf="message.errors && (message.dirty || message.touched)">
                <p *ngIf="message.errors.required">A message is required.</p>
            </div>

            <button type="reset" (click)="resetForm()">Reset</button>
            <button type="submit" [disabled]="userContact.invalid">Submit</button>
        </form>
    </div>
</div>
